.card {
  position: relative;
  width: 323px;
  height: 326px; 
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.cards__image {
  width: 100%;
  border: 1px;
  border-radius: 30px;
  list-style-type: none;
  width: 323px;
  height: 326px;
}
.image__text {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: black;
  position: absolute;
  top: 15px;
  background-color: white;
  border-radius: 4px;
  width: fit-content;
  justify-content: center;
  left: 125px;
  padding: 2px 12px 2px 12px;
}
@media screen and (max-width: 740px) {
  .card {
    width: 164px;
    height: 164px;
  }
  .cards__image {
    width: 164px;
    height: 164px;
  }
  .image__text {
    top:-4px;
    left: 45px

  }
}
