.card {
  position: relative;
  width: 323px;
  height: 326px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.cards__image {
  width: 100%;
  border: 1px;
  border-radius: 30px;
  list-style-type: none;
  max-width: 323px;
  height: 326px;
}
.card__info {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 6px;
  top: 15px;
  left: 125px;
}
.image__text {
  font-size: 16px;
  line-height: 20px;
  color: black;
  background-color: white;
  border-radius: 4px;
  width: fit-content;
  justify-content: center;
  padding: 2px 12px 2px 12px;
}
.like__button {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("/src/assets/likeButon.png");
}
.like__button:active  {
  background-repeat: no-repeat;
  background-image: url("/src/assets/likeButtonActive.png");
}
  
.like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (max-width: 740px) {
  .card {
    width: 164px;
    height: 164px;
  }
  .cards__image {
    width: 164px;
    height: 164px;
  }
  .image__text {
    top: -4px;
    left: 45px;
  }
}
