.modal_content_change_data_form {
  margin: 193px auto;
  border: solid 1px;
  border-radius: 20px;
  border-color: #ffffff;
  background-color: #ffffff;
  height: 304px;
  width: 496px;
  padding: 28px 28px 36px 28px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
}
.modal__change_label {
  margin-top: 4px;
}
.change_data_input {
  display: block;

  width: 440px;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid black;
}
.modal__close-button_type_form {
  position: relative;
  border: none;
  background-image: url("/src/assets/modalClose.png");
  top: -55px;
  left: 422px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  .modal__content_type_form {
    margin-left: 150px;
  }
}
