.page {
  background-color: #f3f3f3;
  width: 1440px;
  height: 822px;
 position: relative;
  margin: 0;
  padding: 0;
  
}
.page__content {
  position: relative;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  max-height: 822px;
}