.page {
  max-width: 1360px;
  height: 822px;
  width: 100%;
  background: #f3f3f3;
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: flex;
 
}
.page__content {
  width: 100%;
  height: 100%;
  padding: 0 40px 32px 40px;
  background: #f3f3f3;
}
