.page {
  max-width: 1440px;
  max-height: 1080px;
  background: #f3f3f3;
  position: relative;
  margin: auto;
  padding: 0;
  height: 100%;
  width: 100%;
}
.page__content {
  max-width: 1360px;
  height: 822px;
  width: 100%;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative;
  background: #f3f3f3;
}
