.cards {
  max-width: 1360px;
  height: 387px;
  margin-top: 40px;
  padding: 0;
}

.cards__list {
  gap: 19px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  top: 279px;
  list-style: none;
  padding: 0;
}
