.main__cloths {
  max-width: 1360px;
 
  margin-top: 40px;
}

.cloths__list {
  gap: 19px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  list-style: none;
  padding: 0;
  position: absolute;
  max-height: 675px;
  overflow: hidden;
 
}
@media screen and (max-width: 740px) {
  .cloths__list {
    gap: 16px;
    
    margin-top: 34px;
  }
}