.weather__card {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 80px;
    padding: 0 40px 0 0px;
    margin: 28px 0px 40px 0;
    
}
.weather__card-temp {
    font-size: 36px;
    line-height: 40px;
    color: white;
    position: absolute;
    margin: 0;
    top: 20px;
    left: 16px;

}
.weather__card-image {
    object-fit: cover;
    object-position: right top;
    width: 100%;
}