.header {
  display: flex;
  align-items: center;
  padding: 32px 40px 28px 40px;
  margin: 0;
  height: 40px;
  position: relative;
  max-width: 1360p;
}
.header__logo {
  width: 89px;
  height: 40px;
  font-weight: 900;
  size: 32px;
  line-height: 39.68px;
  margin-right: 24px;
  border: none;
  border-color: transparent;
}
.header__link {
  text-decoration: none;
  color: #000;
}
.header__add-clothes-button {
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 20px 0 auto;
  background-color: #f3f3f3;
}
.signup__button {
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 20px 0 auto;
  background-color: #f3f3f3;
}
.header__buttons {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  gap: 12px;
  margin: 0;
}
.header__date-and-location {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}
.header__user-container {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  gap: 12px;
 margin-left: 300px;
}
.header__username {
  margin: 0;
  line-height: 24.8px;
  font-size: 24px;
  font-weight: 700;
}
.header__avatar {
  height: 40px;
  width: 40px;
  padding-left: 12px;
  margin: 0;
}

@media screen and (max-width: 499px) {
  .header {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    width: 375px;
  }
  .header__add-clothes-button {
    margin: 0 20px 0 auto;
  }
}
