.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 496px;
  max-height: 436px;
}
.modal__content {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  height: 100%;
  
}
.modal__form {
  display: flex;
  flex-direction: column;
  
}
.modal__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
}
.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
}
.modal__label {
   
   
  font-size: 16px;
}
.modal__input {
  display: block;
  font-size: 16px;
  height: 52px;
  width: 440px;
  gap: 24px;
}
.modal__legend {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 32px;
}
.modal__label-type-radio {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.modal__submit {
  width: 124px;
  height: 36px;
  padding: 8px 16px 8px 16px;
  color: #ffffff;
  background-color: #0000004d;
  border: solid 1px;
  border-radius: 4px;
}
