.profile__sidebar {
  display: flex;
  gap: 16px;
}
.header__avatar {
  height: 56px;
  width: 56px;
  padding-left: 12px;
  margin: 0;
  border-radius: 60%;
}
.profile__picture-sidebar {
  width: 56px;
  height: 56px;
}
.profile__username-sidebar {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  width: 157px;
}
.profile__sidebar-buttons {
  display: flex;
  position: absolute;
  flex-direction: column;
  column-gap: 16px;
  gap: 16px;
  top: 210px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 20px 0 auto;
  background-color: #f3f3f3;
}
