.profile__sidebar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.profile__picture-sidebar {
  width: 56px;
  height: 56px;
}
.profile__username-sidebar {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  left: 112px;
}
