.footer {
  position: absolute;
  left: 40px;
  font-size: 16px;
  display: flex;
  width: 1358px;
  height: 20px;
  bottom: 24px;
  align-items: center;
  flex-direction: row;
  gap: 1029px;
  font-size: 16px;
  font-weight: 500;
}

