.modal_content_register_form {
  margin: 193px auto;
  border: solid 1px;
  border-radius: 20px;
  border-color: #ffffff;
  background-color: #ffffff;
  height: 456px;
  width: 496px;
  padding: 28px 28px 36px 28px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
}
.second__button {
  display: flex;
  position: absolute;
  margin-left: -39px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #0000004d;
  bottom: 20px;
}
.second__button:hover {
  color: #ffffff;
  background-color: #0000004d;
  align-items: center;
  padding: 0;
  height: 36px;
  border: solid 1px;
  border-radius: 4px;
}
.register_input {
  display: block;
  width: 440px;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid black;
}