.modal__login {
  display: flex;
  position: absolute;
  width: 130px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  color: black;
  background-color: transparent;
  border: none;
  bottom: 20px;
  right: 206px;
}
.model__title_sign-up {
  display: flex;
  margin-bottom: 2px;
}
.modal__content_signup_form {
  margin: 193px auto;
  border: solid 1px;
  border-radius: 20px;
  border-color: #ffffff;
  background-color: #ffffff;
  height: 456px;
  width: 496px;
  padding: 28px 28px 36px 28px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
}
