.clothes-section {
  max-width: 1110px;
  height: 700px;
}

.profile__items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.profile__add-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
}
.profile__clothes-list {
  display: flex;
  max-width: 1015px;
  height: 676px;
}
.your__clothes-list {
  gap: 19px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  max-height: 675px;
  overflow: hidden;
}
@media screen and (max-width: 740px) {
  .your__clothes-list {
    gap:16px;
  }
}

