.your__items {
  display: block;
}
.your__items-section {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-left: 116px;
}

.cloths__add-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}
.your__items-card-section {
    display: flex;
}
.your__items-card-list {
    display: flex;
    
}
