.modal_content_login_form {
  margin: 193px auto;
  border: solid 1px;
  border-radius: 20px;
  border-color: #ffffff;
  background-color: #ffffff;
  height: 304px;
  width: 496px;
  padding: 28px 28px 36px 28px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  position: relative;
}
.second__button {
  display: flex;
  position: absolute;
  width: 93px;
  height: 40px;
  padding: 13px 16px 8px 16px;
  color: black;
  background-color: transparent;
  border: none;
  
  bottom: 20px;
  left: 143px
}
.login_input {
  display: block;
  width: 440px;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid black;
}